body {
  font-family: "minion-pro", serif;
  font-weight: 400; 
  font-size: 1em;
}

.page-header {
  border-bottom: 0;
}

.page-header .date {
  font-family: "myriad-pro", arial, sans-serif;
  font-weight: 400; 
  font-color: "#999999";
}

.nav, .brand, .pagination li, .pagination a {
  font-family: "myriad-pro", arial, sans-serif;
  font-size: 1em;
}

.content p, .content ul, .content ol {
  margin-bottom: 1.5em;
}

.content ul li, .content ol li {
  line-height: 1.5em;
}

blockquote p {
  font-size: 1em;
  line-height: 1.25em;
  font-style: italic;
}

.post-full, .index p {
  font-size: 1.25em;
  line-height: 1.5em;
}

.about {
  font-family: "myriad-pro", arial, sans-serif;
}

.about h3 {
  padding-left: 96px;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "myriad-pro", arial, sans-serif;
}

h2 {
  font-size: 1.5em;
}

h3 {
  margin: 0;
}

h4 {
  font-size: 1.25em;
}

.about img {
  float: left;
  margin-top: 12px;
  margin-right: 16px;
  margin-bottom: 36px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* tag_box */
.tag_box, ul.footer {
  list-style: none;
  margin: 0;
  overflow: hidden; }
  
ul.footer {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  margin-bottom: 1em;
}
  
ul.footer li {
  font-family: "myriad-pro", arial, sans-serif;
  float: left;
  margin-right: 2em;
}

li.cc {
  margin-left: 8em;
}

img.cc {
  padding-bottom: 3px;
}

.tag_box li {
  font-family: "myriad-pro", arial, sans-serif;
  font-size: 0.75em;
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  color: #555;
  border-radius: 3px;
  text-decoration: none; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.6em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }