<div class="post-full">
  <div class="content">
    {{ content }}
  </div>

{% unless page.tags == empty %}
  <ul class="tag_box inline">
    <li><i class="icon-tags"></i></li>
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
  </ul>
{% endunless %}  
  
{% if page.next %}
  <div class="pagination clearfix">
    <a href="{{ BASE_PATH }}{{ page.next.url }}" class="pull-right">{{ page.next.title }} <i class="icon-circle-arrow-right"></i></a>
  </div>
{% endif %}

  <hr>
  {% include JB/comments %}
</div>