<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include navigation.html %}

    <div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="page-header">
            <h1>{{ page.title }}</h1>{% if page.title == "Gobbledygook" %}
            <p>A blog about how the internet is changing scholarly communication.</p>{% else %}
            <p>{% if page.date %}{{ page.date | date_to_long_string }} by
            {% if page.authors %}{% for author in page.authors %}
            {% if author.orcid %}<a href="{{author.orcid}}" title="{{author.affiliation}}">{{ author.given-names }} {{ author.surname }}</a>{% else %}<a href="mailto:{{ author.email }}" title="{{author.affiliation}}" >{{ author.given-names }} {{ author.surname }}</a>{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}{% else %}
            <a href="/about.html">{{ site.author.name }}</a>{% endif %}{% endif %}
            </p>{% endif %}
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            {{ content | to_scholmd | fluidify }}

            <div class="license">
              {% if page.title == "Gobbledygook" %}
                <hr>
                <div class="toc-item">
                {% if paginator.previous_page == 1 %}
                  <span><a href="/"><span class="glyphicon glyphicon-arrow-left"></span> Previous</a></span>
                {% elsif paginator.previous_page %}
                  <span><a href="/page{{ paginator.previous_page }}"><span class="glyphicon glyphicon-arrow-left"></span>  Previous</a></span>
                {% endif %}
                {% if paginator.next_page %}
                  <span class="pull-right"><a href="/page{{ paginator.next_page }}">Next <span class="glyphicon glyphicon-arrow-right"></span></a></span>
                {% endif %}
                </div>
              {% elsif page.next.url %}
                <hr>
                <div class="toc-item">
                  <h3>Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a></h3>
                  {% if page.next.authors %}<p>{% for author in page.next.authors %}
                    {{ author.name }}{% if forloop.rindex > 2 %}, {% elsif forloop.rindex > 1 %} & {% endif %}{% endfor %}</p>
                  {% endif %}
                  <p>{{ page.next.excerpt | markdownify | strip_html }}</p>
                </div>
              {% endif %}
            </div>

            {% include comments.html %}
          </div>
        </div>

        {% include coins.html %}
        {% include analytics.html %}
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/js-yaml.min.js"></script>

    <!-- Fluidbox https://github.com/terrymun/Fluidbox -->
    <script src="/js/js-yaml.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/jquery.fluidbox.min.js"></script>
    <script type='text/javascript'>
      $(function () {
        $("a").fluidbox();
      });
    </script>

    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/js/jasny-bootstrap.min.js"></script>

    <!-- MathJax -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
